#hero {
  position: relative;
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 40px 40px 100px;
  background-color: transparent;
  overflow: visible;
  opacity: 0.5;
  transition: 450ms;
}

#hero:hover {
  opacity: 1;
}

.hero-content {
  position: relative;
  z-index: 10;
  color: white;
  max-width: 500px;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-out;
}

#hero:has(.loading) .hero-content {
  opacity: 0;
  transform: translateY(10px);
}

h2 {
  font-size: 38px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn-container {
  display: flex;
  gap: 0.5rem;
}

.btn-play,
.btn-info {
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-play {
  background-color: #fff;
  color: #000;
}

.btn-info {
  background-color: rgba(100, 100, 100, 0.7);
  color: #fff;
  backdrop-filter: blur(10px);
}

.btn-play:hover,
.btn-info:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
}