.hero-bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.8) 20%,
      transparent 100%
    ),
    var(--hero-img);

  opacity: 0.7;
  transition: opacity 500ms ease-in-out, filter 800ms ease-in-out;
  pointer-events: none;
}

.hero-bg-layer.loading {
  opacity: 0;
  filter: blur(10px);
}

.hero-bg-layer.gif {
  opacity: 1;
}
