#sidebar {
  margin-left: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  z-index: 1000;
  background-color: #000;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  transition: width 300ms ease-in-out, background-color 300ms ease-in-out;
}

#sidebar:hover {
  width: 120px;
  background-color: rgb(12, 12, 12);
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.5);
}

.logo {
  max-width: 100px;
  height: 30px;
  object-fit: contain;
}


.nav-links-vertical {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}


.nav-links-vertical img {
  width: 30px;
  height: auto;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}


.nav-links-vertical.visible img {
  opacity: 0.6;
  transform: translateY(0);
  transition-delay: calc(var(--i) * 0.1s);
}


.nav-links-vertical.visible img:hover {
  opacity: 1;
  transform: scale(1.15);
  transition-delay: 0s; 

}


.nav-links-vertical.hidden img {
  opacity: 0;
  transform: translateY(10px);
  transition-delay: 0ms;
}

.hamburger-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 2001;
}

.line {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 300ms ease-in-out;
}

#sidebar.open .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

#sidebar.open .line:nth-child(2) {
  opacity: 0;
}

#sidebar.open .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* -------------------------------------------------------------------------------mobile */


@media (max-width: 768px) {
  #sidebar {
    width: 100% !important;
    height: 65px;
    left: 0;
    bottom: 0 !important;
    top: auto !important;
    flex-direction: row;
    padding: 0 15px;
    border-right: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  #sidebar:hover {
    width: 100% !important;
  }

  .side-top, .side-bottom {
    display: none;
  }

  .nav-links-vertical {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: 0;
  }

  .nav-links-vertical img {
    opacity: 0.8;
    transform: none;
    max-width: 26px;
  }

  .nav-links-vertical.visible img {
    opacity: 0.8;
    transform: none;
    transition-delay: 0s;
  }
}